@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'RobotoMono', monospace;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, rgb(85, 98, 112), rgb(255, 107, 107));
}